#input-main {
  background-color: rgba(106, 177, 135, 0.2);
  border: 1px solid #6ab187;
  border-radius: 5px;
  padding: 5px;
  outline: none;
  width: 100%;
}

#input-error {
  color: #dd5145;
  font-size: 14px;
}
#input-wrapper {
  margin-bottom: 10px;
}
